textarea[name="observacao"] {
    width: 635px;
    height: 130px;
}

input[name="cpf"] {
    width: 200px;
    height: 30px;
}

input[name="nome"] {
    width: 400px;
    height: 30px;
}

input[name="rg"] {
    width: 200px;
    height: 30px;
}

select[name="sexo"]{
    width: 200px;
    height: 30px;
}

input[name="dt_nascimento"] {
    width: 150px;
    height: 30px;
}

select[name="estado_civil"]{
    width: 247px;
    height: 30px;
}

input[name="logradouro"] {
    width: 500px;
    height: 30px;
}

input[name="numero"] {
    width: 100px;
    height: 30px;
}

input[name="complemento"] {
    width: 400px;
    height: 30px;
}

input[name="cep"] {
    width: 200px;
    height: 30px;
}

input[name="bairro"] {
    width: 200px;
    height: 30px;
}

input[name="cidade"] {
    width: 300px;
    height: 30px;
}

select[name="uf"] {
    width: 96px;
    height: 30px;
}

input[name="cargo"] {
    margin-bottom: 15px;
    width: 350px;
    height: 35px;
}

input[name="salario"] {
    margin-bottom: 15px;
    width: 350px;
    height: 35px;
}

input[name="filial"] {
    margin-bottom: 15px;
    width: 350px;
    height: 35px;
}