<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AcessoFilter</filter-name>
        <filter-class>ac.filter.AcessoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoFilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletFuncionarios</servlet-name>
        <servlet-class>ac.servlet.ServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProduto</servlet-name>
        <servlet-class>ac.servlet.produto.ListarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>ac.servlet.produto.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>ac.servlet.produto.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFuncionarios</servlet-name>
        <servlet-class>ac.servlet.funcionario.CadastrarFuncionarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>ac.servlet.produto.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCliente</servlet-name>
        <servlet-class>ac.servlet.cliente.ListarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFuncionarios</servlet-name>
        <servlet-class>ac.servlet.funcionario.ListarFuncionarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionarios</servlet-name>
        <servlet-class>ac.servlet.funcionario.AlterarFuncionarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFuncionarios</servlet-name>
        <servlet-class>ac.servlet.funcionario.ExcluirFuncionarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>ac.servlet.cliente.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCliente</servlet-name>
        <servlet-class>ac.servlet.cliente.AtualizarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>ac.servlet.cliente.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFuncionario</servlet-name>
        <servlet-class>ac.servlet.ListarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarVenda</servlet-name>
        <servlet-class>ac.servlet.venda.CadastrarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosPesquisa</servlet-name>
        <servlet-class>ac.servlet.produto.ListarProdutosPesquisa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVenda</servlet-name>
        <servlet-class>ac.servlet.venda.ListarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Relatorio</servlet-name>
        <servlet-class>ac.servlet.relatorio.Relatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirFiliaisServlet</servlet-name>
        <servlet-class>ac.servlet.estabelecimento.IncluirFiliaisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFiliaisServlet</servlet-name>
        <servlet-class>ac.servlet.estabelecimento.ListarFiliaisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>ac.servlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ac.servlet.filter.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ac.servlet.filter.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarSenha</servlet-name>
        <servlet-class>ac.servlet.funcionario.AlterarSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carrinho</servlet-name>
        <servlet-class>ac.servlet.carrinho.Carrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatarCarrinho</servlet-name>
        <servlet-class>ac.servlet.carrinho.MatarCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCarrinho</servlet-name>
        <servlet-class>ac.servlet.carrinho.AtualizarCarrinho</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IncluirFiliaisServlet</servlet-name>
        <url-pattern>/IncluirFiliais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFiliaisServlet</servlet-name>
        <url-pattern>/ListarFiliais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFuncionarios</servlet-name>
        <url-pattern>/ServletFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProduto</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFuncionarios</servlet-name>
        <url-pattern>/CadastrarFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCliente</servlet-name>
        <url-pattern>/ListarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFuncionarios</servlet-name>
        <url-pattern>/ListarFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionarios</servlet-name>
        <url-pattern>/AlterarFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFuncionarios</servlet-name>
        <url-pattern>/CadastrarFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFuncionarios</servlet-name>
        <url-pattern>/ExcluirFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCliente</servlet-name>
        <url-pattern>/AtualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarVenda</servlet-name>
        <url-pattern>/CadastrarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosPesquisa</servlet-name>
        <url-pattern>/ListarProdutosPesquisa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVenda</servlet-name>
        <url-pattern>/ListarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Relatorio</servlet-name>
        <url-pattern>/Relatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarSenha</servlet-name>
        <url-pattern>/AlterarSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carrinho</servlet-name>
        <url-pattern>/Carrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatarCarrinho</servlet-name>
        <url-pattern>/MatarCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCarrinho</servlet-name>
        <url-pattern>/AtualizarCarrinho</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
