<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletFuncionarios</servlet-name>
        <servlet-class>ac.servlet.ServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProduto</servlet-name>
        <servlet-class>ac.servlet.ListarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>ac.servlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>ac.servlet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFuncionarios</servlet-name>
        <servlet-class>ac.servlet.CadastrarFuncionarios</servlet-class>
    </servlet>
    <servlet>    
    <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>ac.servlet.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCliente</servlet-name>
        <servlet-class>ac.servlet.ListarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFuncionarios</servlet-name>
        <servlet-class>ac.servlet.ListarFuncionarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionarios</servlet-name>
        <servlet-class>ac.servlet.AlterarFuncionarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFuncionarios</servlet-name>
        <url-pattern>/ServletFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProduto</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFuncionarios</servlet-name>
        <url-pattern>/CadastrarFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCliente</servlet-name>
        <url-pattern>/ListarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFuncionarios</servlet-name>
        <url-pattern>/ListarFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionarios</servlet-name>
        <url-pattern>/AlterarFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>  
        <servlet-name>CadastrarFuncionarios</servlet-name>
        <url-pattern>/CadastrarFuncionarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
