# Maven Target
target/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Mac
.DS_Store

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws