/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2020, 9:02:32 PM
    Author     : joao
*/


.container {
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    display: grid;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

div {
    margin-bottom: 20px;
}

label {
    color: rgb(97, 97, 97);
}

input {
    border: none;
    border-bottom: 1px solid black;
    width: 95%;
}

.nome {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}

.cpf {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
}

.email {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
}

.telefone {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
}

.estado_civil {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
}

.sexo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
}

.dt_nascimento {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
}

.cep {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
}

.logradouro {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
}

.numero {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
}

.complemento {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
}

.bairro {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
}

.cidade {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
}

.uf {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
}

button{

}