textarea[name="observacao"] {
    width: 635px;
    height: 150px;
}

input[name="cpf"] {
    width: 200px;
    height: 30px;
}

label[name="cpf"] {
    margin-top: 10px;
    margin-right: 180px;
}

input[name="nome"] {
    width: 400px;
    height: 30px;
}

input[name="rg"] {
    width: 200px;
    height: 30px;
}

select[name="sexo"]{
    width: 200px;
    height: 30px;
}

label[name="sexo"] {
    margin-top: 10px;
    margin-right: 170px;
}

input[name="dt_nascimento"] {
    width: 150px;
    height: 30px;
}

label[name="dt_nascimento"] {
    margin-right: 25px;
}

select[name="estado_civil"]{
    width: 247px;
    height: 30px;
}

input[name="logradouro"] {
    width: 400px;
    height: 30px;
}

input[name="numero"] {
    width: 100px;
    height: 30px;
}

label[name="numero"] {
    margin-top: 12px;
    margin-right: 45px;
}

input[name="complemento"] {
    width: 503px;
    height: 30px;
}

input[name="cep"] {
    width: 200px;
    height: 30px;
}

label[name="cep"] {
    margin-top: 5px;
}

input[name="bairro"] {
    width: 200px;
    height: 30px;
}

label[name="bairro"] {
    margin-right: 157px;
}

input[name="cidade"] {
    width: 295px;
    height: 30px;
}

select[name="uf"] {
    width: 96px;
    height: 30px;
}

label[name="uf"] {
    margin-top: 10px;
    margin-right: 80px;
}

select[name="cargo"] {
    margin-bottom: 15px;
    width: 350px;
    height: 33px;
}

input[name="telefone"] {
    width: 350px;
    height: 30px;
}

input[name="email"] {
    width: 350px;
    height: 30px;
}

label[name="email"] {
    margin-top: 10px;
}

input[name="salario"] {
    margin-bottom: 15px;
    width: 350px;
    height: 30px;
}

input[name="filial"] {
    margin-bottom: 15px;
    width: 350px;
    height: 30px;
}

input[name="login"] {
    width: 350px;
    margin-bottom: 15px;
}

input[name="senha"] {
    width: 350px;
}

button[id="cadastrar"]{
    margin-top: 70px;;
    margin-left: 30px;
}

button[id="atualizar"]{
    margin-top: 70px;;
    margin-left: 800px;
}

button[id="cancelar"]{
    margin-top: 120px;
    margin-left: 150px;
}