/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2020, 5:38:15 PM
    Author     : joao
*/

body{
    background-color: black;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 95%;
}

.vendedor{
    display: inline-block;
    width:auto;
    max-width: 500px;
}

.cliente{
    display: inline-block;
    width:auto;
    max-width: 500px;
}

.lista-produtos{
    border: 1px solid black;
}

input[name="id"]{
    width:50px;
}

input[name="produto"]{
    width:300px;
}

input[name="categoria"]{
    width:100px;
}

input[name="estoque"]{
    width:50px;
}

.card-produtos{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 500px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    padding: 2px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

input.card-title{
    border: none;
}

input.card-subtitle{
    border: none;
}

.btn-vender{
    align-content: flex-end;
}