body {
    background-image: url("../img/Fundo tela 3.jpg");
    background-repeat: repeat;
    background-size: 100%;
}


button[id="cad"] {
    margin-left: 640px;
}

a[id="bt"] {
    color: white;
}
