/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2020, 9:47:11 AM
    Author     : joao
*/
h1{
    text-align: center;
}
h1{
    color: black;
    margin-right: 100px;
}

label[id="quantidade"] {
    margin-left: 120px;
}

label[id="valorUnitario"] {
    margin-left: 120px;
}

label[id="valorTotal"] {
    margin-left: 120px;
}