body {
    background-image: url("../img/Tela login img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

img {
    width: 100px;
    margin-top: 15px;
    margin-bottom: -10px;
    margin-left: 150px;;
}