/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/10/2020, 20:53:08
    Author     : sillas.clpinto
*/

/*id*/
#labelDataFinal {
    margin-left: 150px;
}

#labelFilial {
    margin-left: 10px;
}

#pTotal {
    margin: 10px 0px 50px 975px;
}

#radioFilial {
    margin-left: 105px;
}

#selectFilial {
    margin-left: 5px;
}


/*class*/
.cabecalho {
    text-align: center;
}